[Desktop Entry]
Name=Ruka Cut
Comment=Record system audio and trim MP3 files
Exec=RukaCut
Icon=ruka-cut
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Recorder;
